.center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        
}
.borde{
        border: 1px solid #357ddc; 
        border-radius: 4px; /* Optional: Add rounded corners */
        padding: 10px; /* Optional: Add padding inside the row */
        margin: 10px 0; /* Optional: Add margin to create space around the row */
    }
.col {
  margin-bottom: 15px;
}
h1 {
  font-family:monospace;  /* Use your preferred font family */
  font-size: 3.5rem; /* Adjust the font size as needed */
  color: #333; /* Set the text color */
  margin-bottom: 20px; /* Add margin to create space below the heading */
  text-align: center; /* Center-align the text */

}



